@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  10% {
    background-position: 100% 30%;
  }
  20% {
    background-position: 30% 100%;
  }
  30% {
    background-position: 40% 20%;
  }
  40% {
    background-position: 60% 80%;
  }
  50% {
    background-position: 80% 60%;
  }
  60% {
    background-position: 50% 100%;
  }
  70% {
    background-position: 70% 40%;
  }
  80% {
    background-position: 90% 20%;
  }
  90% {
    background-position: 20% 90%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.hero {
  position: relative; /* Ensure the parent container is relatively positioned */

  height: fit-content;
  margin-top: 10vh;
  /*margin: 0 15px; /* Adjust margins as needed */
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #00a6a2, #0c2c54);
  background-size: 150% 150%;
  animation: gradient 40s ease infinite;
  /*border-radius: 25px;*/

  z-index: -1;
}

h1 {
  font-size: 3rem;
}

.mockup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #fff; /* Light grey background to make the image pop */
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2); /* Adds a subtle shadow for depth */
  max-width: 90%; /* Make sure the container doesn't exceed the page width */
  margin: 0 auto; /* Center the container horizontally */
  position: relative;
}

.mockup-image {
  max-width: 100%;
  border-radius: 10px; /* Rounds the corners of the image */
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.15); /* Add shadow to the image itself */
  transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition for transform and box-shadow */
}

.mockup-image:hover {
  transform: scale(1.05) rotate(3deg); /* Slight zoom and rotation on hover */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3); /* Enhance shadow on hover */
}

.heroHeader {
  font-size: 5rem;
}

.heroText {
  width: 80%;
}
@media (max-width: 768px) {
  .heroHeader {
    font-size: 2rem !important;
  }
  .hero {
    max-height: fit-content;
  }
  .mockup-container {
    width: 100% !important;
    margin: 0;
  }
  .heroText {
    width: 100%;
  }
}
