a {
  margin: 0;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

nav {
  height: 10vh;
  font-size: large;
  background-color: transparent;
  transition: background-color 0.3s ease;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
