.testi {
  height: fit-content;
  border-radius: 25px;
  background: white;
  color: white;
}

.review-card {
  max-width: 400px;
  min-height: 340px;
}

.review-name {
  font-weight: bold;
}

.card-hover {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-hover:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
