.feature-card {
  /* Optional: Add a transition for hover effects */
  transition: 0.3s;
  min-width: 300px;
  background-color: transparent;
  border-color: transparent !important;
}

.feature-icon {
  width: fit-content;
  align-self: center;
}

.feature-card-header {
  color: rgb(12, 46, 80);
  text-align: start;
  font-weight: 600;
  font-size: 2.5rem;
}

.mockup-image-features:hover {
  transform: scale(1.2) !important;
}
