.feature-card {
  /* Optional: Add a transition for hover effects */
  transition: 0.3s;
  min-width: 300px;
}

.feature-card:hover {
  /* This will make the shadow more pronounced on hover */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 12px 40px 0 rgba(0, 0, 0, 0.24);
}

.feature-icon {
  width: fit-content;
  align-self: center;
}
